:root{
    --background-color-darktheme: #090909;
    --background-color-hover-darktheme: #2B2C28;
    --font-color-darktheme: #dfdfdf;
    --border-color-light-darktheme: #339989; /* ou #7DE2D1 pour plus clair*/
    --border-color-dark-darktheme: #2B2C28;
    --background-color-header-darktheme: #101010;   
}